@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
}

body {
  padding-top: 70px;
  font: 14px/1 "Open Sans", sans-serif;
  color: #555;
  background: #eee;
}

main{
  width: 70%;
  margin: auto;
}

.show{

}

.hide{
  display: none;
}

/* The alert message box */
.alert-off {
    display: none;
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}

.alert-on {
    text-align: center;
    display: float;
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}

ol{
  list-style-type: none;
}
